
<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="/Content/images/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
        Tip 2: you can also add an image using data-image tag
        Tip 3: you can change the color of the sidebar with data-background-color="white | black"
    -->
    <div class="logo">
        <a href="/home" class="simple-text">
            Giangbb
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="/home" class="simple-text">
            Ct
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="/Content/Images/default-avatar.png" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    Giangbb
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="collapseExample">

                    <ul class="nav">
                        <li>
                            <a href="#">My Profile</a>
                        </li>                        
                        <li>
                            <a href="javascript:document.getElementById('LogOffForm').submit()">Log off</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li id="menuDashboard">
                <a href="/home">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li id="menuCustomers">
                <a href="/customers">
                    <i class="material-icons">grid_on</i>
                    <p>Customers</p>
                </a>
            </li>
            <li id="menuMovies">
                <a href="/movies">
                    <i class="material-icons">movie</i>
                    <p>Movies</p>
                </a>
            </li>
            
        </ul>

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "LogOffForm"}))
        {
            @Html.AntiForgeryToken()            
        }

    </div>
</div>